.wpcf7 form {

  .wpcf7-form-control-wrap {
    display: block;
  }

  span.wpcf7-not-valid-tip {
    text-align: right;
    font-size: 14px;
    color: #ffb900;
    position: absolute;
    top: 100%;
    right: 0;
  }

  .wpcf7-response-output {
    text-align: center;
    margin: 30px 0 0;
    padding: 10px 20px;
  }

  div.wpcf7-validation-errors,
  div.wpcf7-mail-sent-ok {
    border: none;
  }

  div.wpcf7-validation-errors {
    color: red;
  }

  div.wpcf7-mail-sent-ok {

  }
}

.wpcf7-spinner {
  position: absolute;
  top: 50%;
  right: 0;
  margin: 0;
  transform: translateY(-50%);
  @media (min-width: $tablet-min) {
    right: -32px;
    transform: translate(50%,-50%);
  }
}


.wpcf7-checkbox,
.wpcf7-acceptance {
  display: block;

  .wpcf7-list-item {
    display: flex;
    margin: 0;

    label {
      display: block;
      padding-left: 35px;
      @media (min-width: $tablet-min) {
        padding-left: 45px;
      }

      .wpcf7-list-item-label {
        padding: 0;
        @include letter-spacing(-10);

        &:before {
          position: absolute;
          left: -34px;
          top: 0;
          width: 20px;
          height: 20px;
          box-shadow: 0 0 0 1px currentColor;
          border: transparent;
          background: transparent;
          border-radius: 0;
          @media (min-width: $tablet-min) {
            left: -44px;
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    input {
      display: none;

      &:checked + .wpcf7-list-item-label {

        &:after {
          content: "";
          position: absolute;
          left: -24px;
          top: 10px;
          width: 12px;
          height: 12px;
          transform: translate(-50%,-50%);
          background: currentColor;
          @media (min-width: $tablet-min) {
            width: 14px;
            height: 14px;
            left: -32px;
            top: 12px;
          }
        }
      }
    }
  }
}