.single-gallery {

  .postsListing {

    &__pagination {
      @media (min-width: $laptop-min) {
        margin-bottom: -85px;
      }
      @media (min-width: $desktop-min) {
        margin-bottom: -135px;
      }
    }
  }

  .postNav {

    &__linkPrev,
    &__linkNext {
      @media (min-width: $laptop-min) {
        margin-top: -110px;
      }
    }
  }
}


.sectionGallery {
  @media (min-width: $laptop-min) {
    margin-top: 85px;
  }
}