.suites {
  margin-top: 85px;
  @media (min-width: $tablet-min) {
    margin-top: 0;
  }

  &__header {
    padding: 0 10px;
    margin-bottom: 40px;
    @media (min-width: $tablet-min) {
      padding: 0 32px;
    }
  }

  &__listing {
    background: #f6f6f6;
    @media (min-width: $laptop-min) {
      padding: 40px 0;
      min-height: 320px;
    }
    @media (min-width: $desktop-min) {
      padding: 75px 0 60px;
      min-height: 430px;
    }
  }

  &__details {
    @media (min-width: $laptop-min) {
      display: block;
      height: 260px;
      background: #f6f6f6;
    }
    @media (min-width: $desktop-min) {
      height: 335px;
    }
  }

  &__item {
    min-height: 100px;
    padding: 20px 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s;
    @media (min-width: $tablet-min) {
      padding: 20px 32px;
    }
    @media (min-width: $laptop-min) {
      padding: 20px 60px;
    }

    &Inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (min-width: $laptop-min) {
        max-width: 430px;
      }

      &:after {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        background: url("../images/angle-down.svg") no-repeat center;
        background-size: 40px auto;
        transition: transform .3s;
        @media (min-width: $laptop-min) {
          transform: rotate(-90deg);
        }
      }
    }

    &.active {
      background: #e7e7e7;

      .suites__itemInner:after {
        transform: rotate(180deg);
        @media (min-width: $laptop-min) {
          transform: rotate(-90deg);
        }
      }
    }

    &:hover {
      @media (pointer: fine) {
        background: #e7e7e7;
      }
    }
  }

  &__detail {
    position: relative;
    display: none;
    width: 100%;
    color: #ffffff;
    transition: opacity .3s, visibility .3s;
    @media (min-width: $tablet-min) {
      text-align: left;
    }
    @media (min-width: $laptop-min) {
      display: block !important;
      text-align: left;
      position: absolute;
      left: 0;
      bottom: 0;
      visibility: hidden;
      opacity: 0;
    }

    &Container {
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: flex-end;
      height: 400px;
      padding: 20px 10px 0;
      @media (min-width: $tablet-min) {
        align-items: flex-start;
        height: 775px;
        text-align: left;
        padding: 40px 32px;
      }
      @media (min-width: $laptop-min) {
        height: 260px;
        justify-content: center;
        padding: 40px 60px;
      }
      @media (min-width: $desktop-min) {
        height: 335px;
      }
    }

    img {
      position: relative;
      height: 210px;
      max-width: 100%;
      margin-bottom: 10px;
      object-fit: contain;
      object-position: center bottom;
      z-index: 10;
      @media (min-width: $tablet-min) {
        height: 530px;
        margin-left: -17px;
        margin-right: -17px;
        width: calc( 100% + 17px*2 );
        margin-bottom: 30px;
        max-inline-size: none;
      }
      @media (min-width: $laptop-min) {
        position: absolute;
        right: 30px;
        bottom: 75px;
        width: 50%;
        margin: 0;
        height: 800px;
      }
      @media (min-width: $desktop-min) {
        width: 54%;
      }
    }

    &Inner {
      @media (min-width: $tablet-min) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &Label {
      margin-bottom: 30px;
      position: relative;
      z-index: 10;
      @media (min-width: $tablet-min) {
        margin-bottom: 40px;
      }
    }

    .btn {
      position: relative;
      background: #ffffff;
      color: var(--color-secondary);
      margin: 0 -10px;
      width: auto;
      z-index: 10;
      display: flex;
      @media (min-width: $tablet-min) {
        margin: 0;
        border-color: #ffffff;
      }

      &:hover {
        @media (pointer: fine) {
          background: transparent;
          color: #ffffff;
          border-color: #ffffff;
        }
      }
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      top: 124px;
      width: 100%;
      background: var(--color-secondary) /*url("../images/art-m-blue.svg")*/ no-repeat;
      background-position: 22% -46px;
      display: block;
      z-index: 1;
      @media (min-width: $tablet-min) {
        background-size: 570px auto;
        background-position: 0 bottom;
        top: 240px;
      }
      @media (min-width: $laptop-min) {
        top: 0;
        //background-position: -15% 21%;
      }
    }

    &.active {
      @media (min-width: $laptop-min) {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}