/* All Variables should be declared here which makes it easier to update if something changes globally */
/*---------------------------------------------------------
  ANIMATION MIXINS
---------------------------------------------------------*/
/*---------------------------------------------------------
  LAYOUT MIXINS
---------------------------------------------------------*/
/*---------------------------------------------------------
  MISC MIXINS
---------------------------------------------------------*/
body {
  font-family: "Lato", sans-serif;
  color: #000000;
  font-size: 19px;
  line-height: 1.47;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  font-family: "Cormorant", serif;
  font-weight: 500;
}
h1:first-child, .h1:first-child, h2:first-child, .h2:first-child, h3:first-child, .h3:first-child, h4:first-child, .h4:first-child, h5:first-child, .h5:first-child, h6:first-child, .h6:first-child {
  margin-top: 0;
}
h1:last-child, .h1:last-child, h2:last-child, .h2:last-child, h3:last-child, .h3:last-child, h4:last-child, .h4:last-child, h5:last-child, .h5:last-child, h6:last-child, .h6:last-child {
  margin-bottom: 0;
}

h1, .h1 {
  font-size: 2.125rem;
  line-height: 1;
  font-family: "Cormorant", serif;
  font-weight: 600;
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 3.5rem;
    line-height: 1.25;
  }
}
@media (min-width: 1260px) {
  h1, .h1 {
    font-size: 4rem;
    line-height: 1.09;
  }
}

h2, .h2 {
  font-family: "Cormorant", serif;
  font-size: 2.125rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  h2, .h2 {
    font-size: 2.5rem;
  }
}

h3, .h3 {
  font-family: "Cormorant", serif;
  font-size: 1.75rem;
  line-height: 1.15;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  h3, .h3 {
    font-size: 1.875rem;
  }
}

h4, .h4 {
  font-size: 1.3125rem;
  font-weight: 700;
  color: var(--color-primary);
  font-family: "Lato", sans-serif;
  margin: 0 0 1em;
}

a {
  text-decoration: underline;
  color: currentColor;
}
a:hover {
  text-decoration: none;
}

p {
  margin: 0 0 1.5em;
  letter-spacing: -0.01em;
}
p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0 0 1em;
}
ul:last-child {
  margin-bottom: 0;
}
ol {
  counter-reset: index;
}
ol li {
  counter-increment: index;
}
ol li:before {
  content: counters(index, ".") ".";
}

b, strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.wysiwyg a {
  color: var(--color-primary);
  font-weight: 700;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 57px;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #ffffff;
  outline: none;
  margin: 25px 0 0 0;
  padding: 14px 15px 14px 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
@media (min-width: 768px) {
  .btn {
    width: auto;
    padding: 14px 20px 14px 25px;
    margin-top: 45px;
  }
}
@media (pointer: fine) {
  .btn:hover {
    background: transparent;
    color: var(--color-primary);
  }
}
.btn:first-child {
  margin-top: 0;
}
@media (pointer: fine) {
  .btn--hoverWhite:hover {
    border-color: #ffffff;
    color: #ffffff;
  }
}

/*# sourceMappingURL=editor-style.css.map */
