.mainNav {
  visibility: hidden;
  opacity: 0;
  padding: 50px 13px;
  background: var(--color-secondary);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 6000;
  overflow: scroll;
  transition: visibility .3s, opacity .3s;
  //background: url("../images/layouts/768/nav.jpg") no-repeat center top;
  background-size: auto;
  @media (min-width: $tablet-min) {
    padding: 50px 32px;
  }
  @media (min-width: $laptop-min) {
    overflow: visible;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    height: 56px;
    z-index: 10000;
    padding: 0;
  }

  &__pointer {
    display: none;
    @media (min-width: $laptop-min) {
      position: absolute;
      top: calc(100% - 1px);
      border: solid transparent;
      border-top-color: var(--color-primary);
      border-width: 11px 11px 0 11px;
      left: 50%;
      transform: translateX(-50%);
      transition: left .3s;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (min-width: $tablet-min) {
      display: none;
    }

    a {
      display: flex;
      gap: 16px;
      justify-content: center;
      align-items: center;
      border: 1px solid #4fbae6;
      min-height: 60px;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
      @include letter-spacing(200);

      svg {
        width: 24px;
      }
    }
  }

  &--visible {
    visibility: visible;
    opacity: 1;
  }

  &--sticky {

    .mainNav__pointer {
      @media (min-width: $laptop-min) {
        display: block;
      }
    }
  }

  &--show {
    @media (min-width: $laptop-min) {
      opacity: 1;
    }
  }
}


.primaryMenu {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $tablet-min) {
    padding: 80px 0 50px;
  }
  @media (min-width: $laptop-min) {
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  >li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 52px;
    width: 100%;
    @media (min-width: $tablet-min) {
      margin: 0 0 52px;
    }
    @media (min-width: $laptop-min) {
      align-items: center;
      margin: 0 15px;
    }
    @media (min-width: $desktop-min) {
      margin: 0 19px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    >a {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 500;
      text-decoration: none;
      padding: 0 10px;
      @include letter-spacing(200);
      transition: color .3s, background-color .3s, padding .3s;
      @media (min-width: $laptop-min) {
        @include font-size(17px);
        @include letter-spacing(100);
        white-space: nowrap;
        padding: 0;
        min-height: 56px;
      }
      @media (min-width: $desktop-min) {
        @include font-size(19px);
        @include letter-spacing(200);
      }

      &:before {
        @media (min-width: $laptop-min) {
          content: "";
          position: absolute;
          left: 0;
          top: 45px;
          width: 100%;
          height: 1px;
          background: var(--color-secondary);
          visibility: hidden;
          opacity: 0;
          transition: visibility .3s, opacity .3s;
        }
      }

      &:hover:after {
        @media (min-width: $laptop-min) {
          opacity: 1;
        }
      }
    }

    >ul {
      display: none;
      border-top: 1px solid var(--color-secondary);
      border-bottom: 1px solid var(--color-secondary);
      margin: 5px 0 0;
      padding: 32px 0;
      width: 100%;
      @media (min-width: $laptop-min) {
        display: block;
        background: var(--color-secondary);
        //border: 1px solid #ffffff;
        margin: 0;
        padding: 32px 0;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s, opacity .3s;
      }

      >li {
        margin-bottom: 30px;
        @media (min-width: $laptop-min) {
          margin: 0 0 20px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        >a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
          font-weight: 500;
          text-decoration: none;
          padding: 0 10px;
          @include letter-spacing(200);
          @media (min-width: $laptop-min) {
            padding: 0 30px;
            line-height: 1.26;
            //color: #7a7e82;
          }

          &:hover {
            @media (min-width: $laptop-min) {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &.menu-item-has-children {

      >a {
        max-width: 180px;
        @media (min-width: $tablet-min) {
          max-width: none;
        }

        &:after {
          content: "";
          position: absolute;
          width: 28px;
          height: 28px;
          right: -30px;
          bottom: 0;
          background: url("../images/dropdown-arrow.png") no-repeat center;
          background-size: 15px auto;
          transition: transform .3s;
          @media (min-width: $tablet-min) {
            right: -40px;
          }
          @media (min-width: $laptop-min) {
            position: static;
          }
        }
      }

      &.open >a:after {
        transform: rotate(180deg);
      }
    }

    &:hover {

      >a:before {
        @media (min-width: $laptop-min) {
          visibility: visible;
          opacity: 1;
        }
      }

      >ul {
        @media (min-width: $laptop-min) {
          display: block;
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &.current-menu-ancestor,
    &.current-menu-item {

      >a:before {
        @media (min-width: $laptop-min) {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}


.navOverlay {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: var(--color-primary);
  z-index: 5000;
  transition: visibility .3s, opacity .3s;

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}